@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; 
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 50%;
  width: 32px !important; 
  height: 32px !important;
  transition: background-color 0.2s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important; 
  font-weight: bold;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
   background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #c084fc !important; 
}